@charset "UTF-8";

/*
// Extra small devices (portrait phones, less than 576px)
// No media query for `xs` since this is the default in Bootstrap

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) { ... }

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) { ... }

// Large devices (desktops, 992px and up)
@media (min-width: 992px) { ... }

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { ... }
*/

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--color-gray-200);
}

/*
 yellow pastel: #c29e71 | #c9a476 | #caa577
 green: #9abc6d | #a6c977 | #9dbf70
 red: #be6d6e | #c06f70 | #ca7576 | #cb7576
 violet: #986ebf | #a274c9
 violet2: #6f557f
 blue: #73adc7 | #75b0cb | #74afc9
 blue2: #578299

 gray: #afa8a0
 rose: #d085a7
 purpure: #6e77bc
 white: #c1c1c1
 dark: #2a2927

*/

:root {
  /*--color-outline: transparent;
  --color-black: #2a2927;
  --color-white: #FAF8F6;
  --color-gray: #6c757d;
  --color-gray-dark: #343a40;
  --color-gray-100: #f8f9fa;
  --color-gray-200: #e9ecef;
  --color-gray-300: #dee2e6;
  --color-gray-400: #ced4da;
  --color-gray-500: #adb5bd;
  --color-gray-600: #6c757d;
  --color-gray-700: #495057;
  --color-gray-800: #343a40;
  --color-gray-900: #212529;
  --color-primary: #73adc7;
  --color-secondary: #afa8a0;
  --color-success: #9dbf70;
  --color-info: #578299;
  --color-warning: #caa577;
  --color-danger: #cb7576;
  --color-light: #c1c1c1;
  --color-dark: #2a2927;
  --color-link-color: #2937f0;
  --color-link-hover-color: #212cc0;
  --color-code-color: #be6d6e;
  --color-highlight-bg: #c1c1c1;
  --color-orange-pastel: #FF8A8A;*/

  --color-outline: transparent;
  --color-black: #2a2927;
  --color-white: #FAF8F6;
  --color-gray: #6c757d;
  --color-gray-dark: #343a40;
  --color-gray-100: #f8f9fa;
  --color-gray-200: #e9ecef;
  --color-gray-300: #dee2e6;
  --color-gray-400: #ced4da;
  --color-gray-500: #adb5bd;
  --color-gray-600: #6c757d;
  --color-gray-700: #495057;
  --color-gray-800: #343a40;
  --color-gray-900: #212529;
  /*override bootstrap colors: https://imagecolorpicker.com/color-code/6e77bc*/
  --bs-primary: #73adc7;
  --bs-hover-primary: #578299;
  --bs-secondary: #afa8a0;
  --bs-hover-secondary: #A4A29F;
  --bs-success: #a6c977;
  --bs-hover-success: #9AB576;
  --bs-info: #578299;
  --bs-hover-info: #436577;
  --bs-warning: #caa577;
  --bs-hover-warning: #A68964;
  --bs-danger: #cb7576;
  --bs-hover-danger: #AF6A6B;
  --bs-light: #c1c1c1;
  --bs-hover-light: #9C9A9A;
  --bs-dark: #2a2927;
  --bs-hover-dark: #54514C;
  --bs-link-color: #6e77bc;
}

/* ##### BUTTONS ##### */
.btn-primary {
  --bs-btn-color: var(--color-white) !important;
  --bs-btn-bg: var(--bs-primary);
  --bs-btn-border-color: var(--bs-primary);
  --bs-btn-hover-color: var(--color-white);
  --bs-btn-hover-bg: var(--bs-hover-primary);
  --bs-btn-hover-border-color: var(--bs-hover-primary);
  --bs-btn-focus-shadow-rgb: 49, 132, 253;
  --bs-btn-active-color: var(--color-white);
  --bs-btn-active-bg: var(--bs-hover-primary);
  --bs-btn-active-border-color: var(--bs-hover-primary);
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: var(--color-white);
  --bs-btn-disabled-bg: var(--bs-primary);
  --bs-btn-disabled-border-color: var(--bs-primary);
}

.btn-secondary {
  --bs-btn-color: var(--color-white);
  --bs-btn-bg: var(--bs-secondary);
  --bs-btn-border-color: var(--bs-secondary);
  --bs-btn-hover-color: var(--color-white);
  --bs-btn-hover-bg: var(--bs-hover-secondary);
  --bs-btn-hover-border-color: var(--bs-hover-secondary);
  --bs-btn-focus-shadow-rgb: 49, 132, 253;
  --bs-btn-active-color: var(--color-white);
  --bs-btn-active-bg: var(--bs-hover-secondary);
  --bs-btn-active-border-color: var(--bs-hover-secondary);
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: var(--color-white);
  --bs-btn-disabled-bg: var(--bs-secondary);
  --bs-btn-disabled-border-color: var(--bs-secondary);
}

.btn-success {
  --bs-btn-color: var(--color-white);
  --bs-btn-bg: var(--bs-success);
  --bs-btn-border-color: var(--bs-success);
  --bs-btn-hover-color: var(--color-white);
  --bs-btn-hover-bg: var(--bs-hover-success);
  --bs-btn-hover-border-color: var(--bs-hover-success);
  --bs-btn-focus-shadow-rgb: 49, 132, 253;
  --bs-btn-active-color: var(--color-white);
  --bs-btn-active-bg: var(--bs-hover-success);
  --bs-btn-active-border-color: var(--bs-hover-success);
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: var(--color-white);
  --bs-btn-disabled-bg: var(--bs-success);
  --bs-btn-disabled-border-color: var(--bs-success);
}

.btn-info {
  --bs-btn-color: var(--color-white);
  --bs-btn-bg: var(--bs-info);
  --bs-btn-border-color: var(--bs-info);
  --bs-btn-hover-color: var(--color-white);
  --bs-btn-hover-bg: var(--bs-hover-info);
  --bs-btn-hover-border-color: var(--bs-hover-info);
  --bs-btn-focus-shadow-rgb: 49, 132, 253;
  --bs-btn-active-color: var(--color-white);
  --bs-btn-active-bg: var(--bs-hover-info);
  --bs-btn-active-border-color: var(--bs-hover-info);
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: var(--color-white);
  --bs-btn-disabled-bg: var(--bs-info);
  --bs-btn-disabled-border-color: var(--bs-info);
}

.btn-warning {
  --bs-btn-color: var(--color-white);
  --bs-btn-bg: var(--bs-warning);
  --bs-btn-border-color: var(--bs-warning);
  --bs-btn-hover-color: var(--color-white);
  --bs-btn-hover-bg: var(--bs-hover-warning);
  --bs-btn-hover-border-color: var(--bs-hover-warning);
  --bs-btn-focus-shadow-rgb: 49, 132, 253;
  --bs-btn-active-color: var(--color-white);
  --bs-btn-active-bg: var(--bs-hover-warning);
  --bs-btn-active-border-color: var(--bs-hover-warning);
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: var(--color-white);
  --bs-btn-disabled-bg: var(--bs-warning);
  --bs-btn-disabled-border-color: var(--bs-warning);
}


.btn-danger {
  --bs-btn-color: var(--color-white);
  --bs-btn-bg: var(--bs-danger);
  --bs-btn-border-color: var(--bs-danger);
  --bs-btn-hover-color: var(--color-white);
  --bs-btn-hover-bg: var(--bs-hover-danger);
  --bs-btn-hover-border-color: var(--bs-hover-danger);
  --bs-btn-focus-shadow-rgb: 49, 132, 253;
  --bs-btn-active-color: var(--color-white);
  --bs-btn-active-bg: var(--bs-hover-danger);
  --bs-btn-active-border-color: var(--bs-hover-danger);
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: var(--color-white);
  --bs-btn-disabled-bg: var(--bs-danger);
  --bs-btn-disabled-border-color: var(--bs-danger);
}

.btn-light {
  --bs-btn-color: var(--color-white);
  --bs-btn-bg: var(--bs-light);
  --bs-btn-border-color: var(--bs-light);
  --bs-btn-hover-color: var(--color-white);
  --bs-btn-hover-bg: var(--bs-hover-light);
  --bs-btn-hover-border-color: var(--bs-hover-light);
  --bs-btn-focus-shadow-rgb: 49, 132, 253;
  --bs-btn-active-color: var(--color-white);
  --bs-btn-active-bg: var(--bs-hover-light);
  --bs-btn-active-border-color: var(--bs-hover-light);
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: var(--color-white);
  --bs-btn-disabled-bg: var(--bs-light);
  --bs-btn-disabled-border-color: var(--bs-light);
}

.btn-dark {
  --bs-btn-color: var(--color-white);
  --bs-btn-bg: var(--bs-dark);
  --bs-btn-border-color: var(--bs-dark);
  --bs-btn-hover-color: var(--color-white);
  --bs-btn-hover-bg: var(--bs-hover-dark);
  --bs-btn-hover-border-color: var(--bs-hover-dark);
  --bs-btn-focus-shadow-rgb: 49, 132, 253;
  --bs-btn-active-color: var(--color-white);
  --bs-btn-active-bg: var(--bs-hover-dark);
  --bs-btn-active-border-color: var(--bs-hover-dark);
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: var(--color-white);
  --bs-btn-disabled-bg: var(--bs-dark);
  --bs-btn-disabled-border-color: var(--bs-dark);
}

/* ##### BG ##### */

.bg-primary {
  --bs-bg-opacity: 1;
  background-color: var(--bs-primary) !important;
}

.bg-secondary {
  --bs-bg-opacity: 1;
  background-color: var(--bs-secondary) !important;
}

.bg-success {
  --bs-bg-opacity: 1;
  background-color: var(--bs-success) !important;
}

.bg-info {
  --bs-bg-opacity: 1;
  background-color: var(--bs-info) !important;
}

.bg-warning {
  --bs-bg-opacity: 1;
  background-color: var(--bs-warning) !important;
}

.bg-danger {
  --bs-bg-opacity: 1;
  background-color: var(--bs-danger) !important;
}

.bg-light {
  --bs-bg-opacity: 1;
  background-color: var(--bs-light) !important;
}

.bg-dark {
  --bs-bg-opacity: 1;
  background-color: var(--bs-dark) !important;
}

/* ##### TEXT ##### */

.text-primary {
  color: var(--bs-primary) !important;
}

.text-secondary {
  color: var(--bs-secondary) !important;
}

.text-success {
  color: var(--bs-success) !important;
}

.text-info {
  color: var(--bs-info) !important;
}

.text-warning {
  color: var(--bs-warning) !important;
}

.text-danger {
  color: var(--bs-danger) !important;
}

.text-light {
  color: var(--bs-light) !important;
}

.text-dark {
  color: var(--bs-dark) !important;
}

/* ##### A ##### */

a {
  color: var(--bs-link-color) !important;
  text-decoration: underline;
}

/* ##### CHECK ##### */

.form-check-input:checked,
.form-check-input::before {
  color: var(--color-white) !important;
  border-color: var(--bs-light) !important;
  background-color: var(--bs-primary) !important;
}

.form-check-input:checked:focus,
.form-check-input::before {
  box-shadow: 0 0 0 1px #fff, 0 0 0 0.2rem var(--color-orange-pastel);
  color: var(--color-white) !important;
  border-color: var(--bs-light) !important;
  background-color: var(--bs-primary) !important;
}

.form-check-input:focus,
.form-check-input::before {
  box-shadow: 0 0 0 1px #fff, 0 0 0 0.2rem var(--color-orange-pastel);
  color: var(--color-white) !important;
  border-color: var(--bs-light) !important;
  background-color: var(--bs-light) !important;
}

.form-check-input:active,
.form-check-input::before {
  color: var(--color-white) !important;
  border-color: var(--bs-light) !important;
  background-color: var(--bs-primary) !important;
}

/* ##### COMMONS ##### */

*,
*::before,
*::after {
  box-sizing: border-box;
}

@media (prefers-reduced-motion: no-preference) {
  :root {
    scroll-behavior: smooth;
  }
}

body {
  margin: 0;
  font-family: var(--bs-body-font-family);
  font-size: var(--bs-body-font-size);
  font-weight: var(--bs-body-font-weight);
  line-height: var(--bs-body-line-height);
  color: var(--bs-body-color);
  text-align: var(--bs-body-text-align);
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.fade {
  transition: opacity 0.15s linear;
}

.main-router {
  width: 100vw;
  height: 100vh;
}

@media (max-width: 576px) {

  .container,
  .container-sm {
    max-width: 100%;
  }

  .px-5 {
    padding-right: 1rem !important;
    padding-left: 1rem !important;
  }
}

@media (max-width: 992px) {

  .container,
  .container-sm {
    max-width: 100%;
  }

  .px-5 {
    padding-right: 1rem !important;
    padding-left: 1rem !important;
  }
}

@media (max-width: 1200px) {

  .container,
  .container-lg,
  .container-md,
  .container-sm {
    max-width: 1280px;
  }

  .px-5 {
    padding-right: 1rem !important;
    padding-left: 1rem !important;
  }
}

@media (min-width: 1201px) {

  .container,
  .container-lg,
  .container-md,
  .container-sm {
    max-width: 1385px;
  }

  .px-5 {
    padding-right: 1rem !important;
    padding-left: 1rem !important;
  }
}

/* ##### SKELETON ##### */

.skeleton-container {
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.skeleton-post {
  width: 100%;
  height: 44px;
}

.skeleton-avatar {
  float: left;
  width: 20px;
  height: 20px;
  background-color: #ccc;
  border-radius: 25%;
  margin: 8px;
  background-image: linear-gradient(90deg, #ddd 0px, #e8e8e8 40px, #ddd 80px);
  background-size: 600px;
  animation: shine-avatar 1.6s infinite linear;
}

.skeleton-line {
  float: left;
  width: 100%;
  height: 16px;
  margin-top: 12px;
  border-radius: 7px;
  background-image: linear-gradient(90deg, #ddd 0px, #e8e8e8 40px, #ddd 80px);
  background-size: 600px;
  animation: shine-lines 1.6s infinite linear;
}

.skeleton-post .skeleton-avatar+.skeleton-line {
  margin-top: 11px;
  width: calc(95% - 40px);
}

.skeleton-post .skeleton-line~.skeleton-line {
  background-color: #ddd;
}

@keyframes shine-lines {
  0% {
    background-position: -100px;
  }

  40%,
  100% {
    background-position: 140px;
  }
}

@keyframes shine-avatar {
  0% {
    background-position: -32px;
  }

  40%,
  100% {
    background-position: 208px;
  }
}
